In [1]:
import os

import pandas as pd
pd.set_option('display.max_rows', 20)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

In [2]:
df = pd.read_csv(os.path.join('..', 'lab_WHEL_file_2.csv'))

In [3]:
df

,ID,Lump/Mast,Radiation,Chemo,Tumor Type,...,Bld Pres -Sys,Bld Pres - Dias,Menopause,Anti-Estr Use,Anti-Estro Type
0,1002,1,2,2,3,...,-9,-9,1,1,1
1,1003,1,2,2,3,...,-9,-9,2,1,1
2,1005,2,1,1,3,...,-9,-9,2,3,1
3,1007,2,1,2,4,...,-9,-9,2,1,1
4,1008,2,1,1,3,...,-9,-9,2,1,1
5,1009,2,1,1,3,...,-9,-9,3,1,1
6,1010,2,1,2,3,...,-9,-9,2,1,1
7,1011,1,2,2,1,...,-9,-9,3,2,4
8,1012,1,2,1,3,...,-9,-9,2,1,1
9,1015,2,1,2,3,...,-9,-9,2,2,4
...,...,...,...,...,...,...,...,...,...,...,...
3078,13236,1,2,1,3,...,109,77,2,3,1
3079,13237,2,1,1,3,...,117,75,2,1,1
3080,13238,2,1,2,3,...,117,70,2,1,1
3081,13239,1,2,2,2,...,132,69,2,1,1
3082,13240,2,1,2,3,...,116,70,2,1,5
3083,13241,1,2,1,4,...,120,66,2,1,1
3084,13242,2,1,2,3,...,113,75,2,1,2
3085,13243,2,2,2,2,...,154,85,2,2,4
3086,13244,1,2,2,3,...,113,75,3,2,4
3087,13245,1,2,2,1,...,110,79,2,2,4

In [4]:
df['BMI']

0       23.0697
1       23.4375
2       32.4181
3       23.3808
4       25.4737
5       31.5568
6       31.4871
7       23.0469
8       27.2304
9       27.9121
         ...
3078    28.7769
3079    24.9487
3080    22.0535
3081    38.1543
3082    26.5097
3083    33.4444
3084    22.8010
3085    34.4635
3086    29.7160
3087    24.8016
Name: BMI, Length: 3088, dtype: float64

In [5]:
df = df.set_index('ID')

In [7]:
df.loc[1005].BMI

32.418100000000003

In [8]:
df.BMI < 30

ID
1002      True
1003      True
1005     False
1007      True
1008      True
1009     False
1010     False
1011      True
1012      True
1015      True
         ...
13236     True
13237     True
13238     True
13239    False
13240     True
13241    False
13242     True
13243    False
13244     True
13245     True
Name: BMI, Length: 3088, dtype: bool

In [10]:
df [ (df.BMI < 30)].shape

(2285, 21)

In [11]:
df['BMI']

ID
1002     23.0697
1003     23.4375
1005     32.4181
1007     23.3808
1008     25.4737
1009     31.5568
1010     31.4871
1011     23.0469
1012     27.2304
1015     27.9121
          ...
13236    28.7769
13237    24.9487
13238    22.0535
13239    38.1543
13240    26.5097
13241    33.4444
13242    22.8010
13243    34.4635
13244    29.7160
13245    24.8016
Name: BMI, Length: 3088, dtype: float64

In [12]:
df.['BMI'].shape

SyntaxError: invalid syntax (<ipython-input-12-6a6f727a4acf>, line 1)

In [13]:
df.shape

(3088, 21)

In [14]:
df [(df.BMI < 30)]

,Lump/Mast,Radiation,Chemo,Tumor Type,Estr Recep,...,Bld Pres -Sys,Bld Pres - Dias,Menopause,Anti-Estr Use,Anti-Estro Type
ID,,,,,,,,,,,
1002,1,2,2,3,1,...,-9,-9,1,1,1
1003,1,2,2,3,1,...,-9,-9,2,1,1
1007,2,1,2,4,0,...,-9,-9,2,1,1
1008,2,1,1,3,1,...,-9,-9,2,1,1
1011,1,2,2,1,0,...,-9,-9,3,2,4
1012,1,2,1,3,1,...,-9,-9,2,1,1
1015,2,1,2,3,1,...,-9,-9,2,2,4
1017,1,2,2,3,0,...,-9,-9,3,2,4
1018,2,1,2,2,1,...,-9,-9,2,1,1
1019,1,2,1,3,1,...,-9,-9,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...
13230,1,2,1,3,0,...,107,58,2,1,1
13233,1,2,2,3,1,...,106,73,2,1,1
13235,1,2,2,3,1,...,117,76,2,1,1
13236,1,2,1,3,1,...,109,77,2,3,1
13237,2,1,1,3,1,...,117,75,2,1,1
13238,2,1,2,3,1,...,117,70,2,1,1
13240,2,1,2,3,1,...,116,70,2,1,5
13242,2,1,2,3,0,...,113,75,2,1,2
13244,1,2,2,3,1,...,113,75,3,2,4
13245,1,2,2,1,0,...,110,79,2,2,4

In [15]:
df [(df.BMI < 30)].shape

(2285, 21)

In [16]:
df.BMI

ID
1002     23.0697
1003     23.4375
1005     32.4181
1007     23.3808
1008     25.4737
1009     31.5568
1010     31.4871
1011     23.0469
1012     27.2304
1015     27.9121
          ...
13236    28.7769
13237    24.9487
13238    22.0535
13239    38.1543
13240    26.5097
13241    33.4444
13242    22.8010
13243    34.4635
13244    29.7160
13245    24.8016
Name: BMI, Length: 3088, dtype: float64

In [17]:
df.BMI.shape

(3088,)

In [18]:
df.columns

Index([u'Lump/Mast', u'Radiation', u'Chemo', u'Tumor Type', u'Estr Recep',
       u'Prog Recep', u'Node Exam', u'Node Pos', u'Stage', u'Tumor Size',
       u'Height', u'Weight', u'BMI', u'Waist', u'Hip', u'Pulse',
       u'Bld Pres -Sys', u'Bld Pres - Dias', u'Menopause', u'Anti-Estr Use',
       u'Anti-Estro Type'],
      dtype='object')

In [20]:
df [ (df.BMI < 30) & (df.Radiation == 2)]

,Lump/Mast,Radiation,Chemo,Tumor Type,Estr Recep,...,Bld Pres -Sys,Bld Pres - Dias,Menopause,Anti-Estr Use,Anti-Estro Type
ID,,,,,,,,,,,
1002,1,2,2,3,1,...,-9,-9,1,1,1
1003,1,2,2,3,1,...,-9,-9,2,1,1
1011,1,2,2,1,0,...,-9,-9,3,2,4
1012,1,2,1,3,1,...,-9,-9,2,1,1
1017,1,2,2,3,0,...,-9,-9,3,2,4
1019,1,2,1,3,1,...,-9,-9,2,1,1
1020,1,2,2,3,0,...,-9,-9,2,2,4
1026,2,2,2,3,1,...,-9,-9,2,1,1
1027,2,2,1,3,1,...,-9,-9,2,3,1
1028,1,2,1,3,1,...,-9,-9,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...
13222,2,2,2,2,1,...,121,69,2,1,1
13225,2,2,2,3,1,...,113,81,2,1,1
13228,1,2,1,4,1,...,119,71,2,1,1
13229,1,2,1,3,1,...,128,74,2,1,1
13230,1,2,1,3,0,...,107,58,2,1,1
13233,1,2,2,3,1,...,106,73,2,1,1
13235,1,2,2,3,1,...,117,76,2,1,1
13236,1,2,1,3,1,...,109,77,2,3,1
13244,1,2,2,3,1,...,113,75,3,2,4
13245,1,2,2,1,0,...,110,79,2,2,4

In [21]:
df [ (df.BMI < 30) & (df.Radiation == 2)].shape

(1401, 21)

In [22]:
len(df [ (df.BMI < 30) & (df.Radiation == 2)])

1401

In [23]:
df [ (df.BMI < 30) & (df.Radiation == 2)].isnull()

,Lump/Mast,Radiation,Chemo,Tumor Type,Estr Recep,...,Bld Pres -Sys,Bld Pres - Dias,Menopause,Anti-Estr Use,Anti-Estro Type
ID,,,,,,,,,,,
1002,False,False,False,False,False,...,False,False,False,False,False
1003,False,False,False,False,False,...,False,False,False,False,False
1011,False,False,False,False,False,...,False,False,False,False,False
1012,False,False,False,False,False,...,False,False,False,False,False
1017,False,False,False,False,False,...,False,False,False,False,False
1019,False,False,False,False,False,...,False,False,False,False,False
1020,False,False,False,False,False,...,False,False,False,False,False
1026,False,False,False,False,False,...,False,False,False,False,False
1027,False,False,False,False,False,...,False,False,False,False,False
1028,False,False,False,False,False,...,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
13222,False,False,False,False,False,...,False,False,False,False,False
13225,False,False,False,False,False,...,False,False,False,False,False
13228,False,False,False,False,False,...,False,False,False,False,False
13229,False,False,False,False,False,...,False,False,False,False,False
13230,False,False,False,False,False,...,False,False,False,False,False
13233,False,False,False,False,False,...,False,False,False,False,False
13235,False,False,False,False,False,...,False,False,False,False,False
13236,False,False,False,False,False,...,False,False,False,False,False
13244,False,False,False,False,False,...,False,False,False,False,False
13245,False,False,False,False,False,...,False,False,False,False,False

In [24]:
df [ (df.BMI < 30) & (df.Radiation == 2)].isnull().sum()

Lump/Mast           0
Radiation           0
Chemo               0
Tumor Type          0
Estr Recep          0
Prog Recep          0
Node Exam           0
Node Pos            1
Stage               0
Tumor Size          3
                   ..
Weight              0
BMI                 0
Waist              12
Hip                12
Pulse               0
Bld Pres -Sys       0
Bld Pres - Dias     0
Menopause           0
Anti-Estr Use       0
Anti-Estro Type     0
Length: 21, dtype: int64

In [25]:
df [ (df.BMI < 30) & (df.Radiation == 2)].isnull().sum().sum()

28L

In [29]:
df[df.BMI < 30][df.Radiation == 2]

/Users/juliewang/anaconda/lib/python2.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,Lump/Mast,Radiation,Chemo,Tumor Type,Estr Recep,...,Bld Pres -Sys,Bld Pres - Dias,Menopause,Anti-Estr Use,Anti-Estro Type
ID,,,,,,,,,,,
1002,1,2,2,3,1,...,-9,-9,1,1,1
1003,1,2,2,3,1,...,-9,-9,2,1,1
1011,1,2,2,1,0,...,-9,-9,3,2,4
1012,1,2,1,3,1,...,-9,-9,2,1,1
1017,1,2,2,3,0,...,-9,-9,3,2,4
1019,1,2,1,3,1,...,-9,-9,2,1,1
1020,1,2,2,3,0,...,-9,-9,2,2,4
1026,2,2,2,3,1,...,-9,-9,2,1,1
1027,2,2,1,3,1,...,-9,-9,2,3,1
1028,1,2,1,3,1,...,-9,-9,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...
13222,2,2,2,2,1,...,121,69,2,1,1
13225,2,2,2,3,1,...,113,81,2,1,1
13228,1,2,1,4,1,...,119,71,2,1,1
13229,1,2,1,3,1,...,128,74,2,1,1
13230,1,2,1,3,0,...,107,58,2,1,1
13233,1,2,2,3,1,...,106,73,2,1,1
13235,1,2,2,3,1,...,117,76,2,1,1
13236,1,2,1,3,1,...,109,77,2,3,1
13244,1,2,2,3,1,...,113,75,3,2,4
13245,1,2,2,1,0,...,110,79,2,2,4

In [30]:
df[df.BMI < 30][df.Radiation == 2].shape

/Users/juliewang/anaconda/lib/python2.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

(1401, 21)

In [31]:
df[(df.BMI < 30) & (df.Radiation == 2)] [['Menopause']]

       Menopause
ID
1002           1
1003           2
1011           3
1012           2
1017           3
1019           2
1020           2
1026           2
1027           2
1028           2
...          ...
13222          2
13225          2
13228          2
13229          2
13230          2
13233          2
13235          2
13236          2
13244          3
13245          2

[1401 rows x 1 columns]

In [32]:
df [(df.BMI < 30) & (df.Radiation == 2)]['Menopause']

ID
1002     1
1003     2
1011     3
1012     2
1017     3
1019     2
1020     2
1026     2
1027     2
1028     2
        ..
13222    2
13225    2
13228    2
13229    2
13230    2
13233    2
13235    2
13236    2
13244    3
13245    2
Name: Menopause, Length: 1401, dtype: int64

In [33]:
df [(df.BMI < 30) & (df.Radiation == 2)][['Menopause']]

       Menopause
ID
1002           1
1003           2
1011           3
1012           2
1017           3
1019           2
1020           2
1026           2
1027           2
1028           2
...          ...
13222          2
13225          2
13228          2
13229          2
13230          2
13233          2
13235          2
13236          2
13244          3
13245          2

[1401 rows x 1 columns]

In [34]:
df.Menopause

ID
1002     1
1003     2
1005     2
1007     2
1008     2
1009     3
1010     2
1011     3
1012     2
1015     2
        ..
13236    2
13237    2
13238    2
13239    2
13240    2
13241    2
13242    2
13243    2
13244    3
13245    2
Name: Menopause, Length: 3088, dtype: int64

In [36]:
df['Menopause']

ID
1002     1
1003     2
1005     2
1007     2
1008     2
1009     3
1010     2
1011     3
1012     2
1015     2
        ..
13236    2
13237    2
13238    2
13239    2
13240    2
13241    2
13242    2
13243    2
13244    3
13245    2
Name: Menopause, Length: 3088, dtype: int64

In [37]:
df [(df.BMI < 30) & (df.Radiation == 2)].Menopause

ID
1002     1
1003     2
1011     3
1012     2
1017     3
1019     2
1020     2
1026     2
1027     2
1028     2
        ..
13222    2
13225    2
13228    2
13229    2
13230    2
13233    2
13235    2
13236    2
13244    3
13245    2
Name: Menopause, Length: 1401, dtype: int64

In [38]:
df [(df.BMI < 30) & (df.Radiation == 2)][['Menopause']]

       Menopause
ID
1002           1
1003           2
1011           3
1012           2
1017           3
1019           2
1020           2
1026           2
1027           2
1028           2
...          ...
13222          2
13225          2
13228          2
13229          2
13230          2
13233          2
13235          2
13236          2
13244          3
13245          2

[1401 rows x 1 columns]

In [42]:
df_base = pd.read_csv(os.path.join('..', 'baseline.csv'), index_col = 'ID')

In [44]:
df_lab = pd.read_csv(os.path.join('..', 'lab_WHEL_file_2.csv'), index_col = 'ID')

In [ ]:
df = df_base()