In [1]:
import os

import pandas as pd
pd.set_option('display.max_rows', 20)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

In [2]:
!pwd

/Users/juliewang/DS-SF-36/classes/03/notebooks

In [9]:
df = pd.read_csv(os.path.join('..', '/lab_WHEL_file_2.csv')

SyntaxError: unexpected EOF while parsing (<ipython-input-9-f86be9dcce7f>, line 1)

In [5]:
!ls ../lab_WHEL_file_2.csv

ls: ../lab_WHEL_file_2.csv: No such file or directory

In [10]:
!cd ~

In [11]:
!ls -l

total 1368
-rw-r--r--  1 juliewang  staff    1076 Jul  8 20:33 Untitled.ipynb
-rw-r--r--  1 juliewang  staff    2192 Jul  8 20:44 Untitled1.ipynb
-rwxr-xr-x  1 juliewang  staff   33572 Jul  6 23:05 assignment-03-pandas-answer-key.ipynb
-rwxr-xr-x  1 juliewang  staff   11098 Jun 28 18:36 assignment-03-pandas-starter-code.ipynb
-rwxr-xr-x  1 juliewang  staff  207717 Jul  8 18:55 codealong-03-pandas-answer-key.ipynb
-rwxr-xr-x  1 juliewang  staff  430471 Jul  6 20:18 codealong-03-pandas-starter-code.ipynb

In [12]:
!cd ~

In [13]:
!cd ~

In [14]:
!ls -l

total 1368
-rw-r--r--  1 juliewang  staff    1076 Jul  8 20:33 Untitled.ipynb
-rw-r--r--  1 juliewang  staff    2192 Jul  8 20:44 Untitled1.ipynb
-rwxr-xr-x  1 juliewang  staff   33572 Jul  6 23:05 assignment-03-pandas-answer-key.ipynb
-rwxr-xr-x  1 juliewang  staff   11098 Jun 28 18:36 assignment-03-pandas-starter-code.ipynb
-rwxr-xr-x  1 juliewang  staff  207717 Jul  8 18:55 codealong-03-pandas-answer-key.ipynb
-rwxr-xr-x  1 juliewang  staff  430471 Jul  6 20:18 codealong-03-pandas-starter-code.ipynb

In [17]:
!ls ../lab_WHEL_file_2.csv

../lab_WHEL_file_2.csv

In [19]:
df = pd.read_csv(os.path.join('..', 'lab_WHEL_file_2.csv'))

In [21]:
type(df)

pandas.core.frame.DataFrame

In [22]:
df

,ID,Lump/Mast,Radiation,Chemo,Tumor Type,...,Bld Pres -Sys,Bld Pres - Dias,Menopause,Anti-Estr Use,Anti-Estro Type
0,1002,1,2,2,3,...,-9,-9,1,1,1
1,1003,1,2,2,3,...,-9,-9,2,1,1
2,1005,2,1,1,3,...,-9,-9,2,3,1
3,1007,2,1,2,4,...,-9,-9,2,1,1
4,1008,2,1,1,3,...,-9,-9,2,1,1
5,1009,2,1,1,3,...,-9,-9,3,1,1
6,1010,2,1,2,3,...,-9,-9,2,1,1
7,1011,1,2,2,1,...,-9,-9,3,2,4
8,1012,1,2,1,3,...,-9,-9,2,1,1
9,1015,2,1,2,3,...,-9,-9,2,2,4
...,...,...,...,...,...,...,...,...,...,...,...
3078,13236,1,2,1,3,...,109,77,2,3,1
3079,13237,2,1,1,3,...,117,75,2,1,1
3080,13238,2,1,2,3,...,117,70,2,1,1
3081,13239,1,2,2,2,...,132,69,2,1,1
3082,13240,2,1,2,3,...,116,70,2,1,5
3083,13241,1,2,1,4,...,120,66,2,1,1
3084,13242,2,1,2,3,...,113,75,2,1,2
3085,13243,2,2,2,2,...,154,85,2,2,4
3086,13244,1,2,2,3,...,113,75,3,2,4
3087,13245,1,2,2,1,...,110,79,2,2,4

In [23]:
df.head(5)

,ID,Lump/Mast,Radiation,Chemo,Tumor Type,...,Bld Pres -Sys,Bld Pres - Dias,Menopause,Anti-Estr Use,Anti-Estro Type
0,1002,1,2,2,3,...,-9,-9,1,1,1
1,1003,1,2,2,3,...,-9,-9,2,1,1
2,1005,2,1,1,3,...,-9,-9,2,3,1
3,1007,2,1,2,4,...,-9,-9,2,1,1
4,1008,2,1,1,3,...,-9,-9,2,1,1

In [24]:
df.tail(5)

,ID,Lump/Mast,Radiation,Chemo,Tumor Type,...,Bld Pres -Sys,Bld Pres - Dias,Menopause,Anti-Estr Use,Anti-Estro Type
3083,13241,1,2,1,4,...,120,66,2,1,1
3084,13242,2,1,2,3,...,113,75,2,1,2
3085,13243,2,2,2,2,...,154,85,2,2,4
3086,13244,1,2,2,3,...,113,75,3,2,4
3087,13245,1,2,2,1,...,110,79,2,2,4

In [25]:
df.isnull()

,ID,Lump/Mast,Radiation,Chemo,Tumor Type,...,Bld Pres -Sys,Bld Pres - Dias,Menopause,Anti-Estr Use,Anti-Estro Type
0,False,False,False,False,False,...,False,False,False,False,False
1,False,False,False,False,False,...,False,False,False,False,False
2,False,False,False,False,False,...,False,False,False,False,False
3,False,False,False,False,False,...,False,False,False,False,False
4,False,False,False,False,False,...,False,False,False,False,False
5,False,False,False,False,False,...,False,False,False,False,False
6,False,False,False,False,False,...,False,False,False,False,False
7,False,False,False,False,False,...,False,False,False,False,False
8,False,False,False,False,False,...,False,False,False,False,False
9,False,False,False,False,False,...,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
3078,False,False,False,False,False,...,False,False,False,False,False
3079,False,False,False,False,False,...,False,False,False,False,False
3080,False,False,False,False,False,...,False,False,False,False,False
3081,False,False,False,False,False,...,False,False,False,False,False
3082,False,False,False,False,False,...,False,False,False,False,False
3083,False,False,False,False,False,...,False,False,False,False,False
3084,False,False,False,False,False,...,False,False,False,False,False
3085,False,False,False,False,False,...,False,False,False,False,False
3086,False,False,False,False,False,...,False,False,False,False,False
3087,False,False,False,False,False,...,False,False,False,False,False

In [26]:
df.isnull().sum()

ID                  0
Lump/Mast           0
Radiation           0
Chemo               0
Tumor Type          0
Estr Recep          0
Prog Recep          0
Node Exam           0
Node Pos            1
Stage               0
                   ..
Weight              0
BMI                 0
Waist              18
Hip                18
Pulse               0
Bld Pres -Sys       0
Bld Pres - Dias     0
Menopause           0
Anti-Estr Use       0
Anti-Estro Type     0
Length: 22, dtype: int64

In [27]:
df.isnull().sum().sum()

41L

In [28]:
df.shape

(3088, 22)

In [29]:
df[0]

KeyError: 0

In [30]:
df.shape[0]

3088

In [31]:
df.shape[1]

22

In [32]:
df.shape

(3088, 22)

In [33]:
len(df)

3088

In [34]:
df.dtypes

ID                   int64
Lump/Mast            int64
Radiation            int64
Chemo                int64
Tumor Type           int64
Estr Recep           int64
Prog Recep           int64
Node Exam            int64
Node Pos           float64
Stage               object
                    ...
Weight             float64
BMI                float64
Waist              float64
Hip                float64
Pulse                int64
Bld Pres -Sys        int64
Bld Pres - Dias      int64
Menopause            int64
Anti-Estr Use        int64
Anti-Estro Type      int64
Length: 22, dtype: object

In [35]:
df.index

RangeIndex(start=0, stop=3088, step=1)

In [36]:
df.columns

Index([u'ID', u'Lump/Mast', u'Radiation', u'Chemo', u'Tumor Type',
       u'Estr Recep', u'Prog Recep', u'Node Exam', u'Node Pos', u'Stage',
       u'Tumor Size', u'Height', u'Weight', u'BMI', u'Waist', u'Hip', u'Pulse',
       u'Bld Pres -Sys', u'Bld Pres - Dias', u'Menopause', u'Anti-Estr Use',
       u'Anti-Estro Type'],
      dtype='object')

In [37]:
df

,ID,Lump/Mast,Radiation,Chemo,Tumor Type,...,Bld Pres -Sys,Bld Pres - Dias,Menopause,Anti-Estr Use,Anti-Estro Type
0,1002,1,2,2,3,...,-9,-9,1,1,1
1,1003,1,2,2,3,...,-9,-9,2,1,1
2,1005,2,1,1,3,...,-9,-9,2,3,1
3,1007,2,1,2,4,...,-9,-9,2,1,1
4,1008,2,1,1,3,...,-9,-9,2,1,1
5,1009,2,1,1,3,...,-9,-9,3,1,1
6,1010,2,1,2,3,...,-9,-9,2,1,1
7,1011,1,2,2,1,...,-9,-9,3,2,4
8,1012,1,2,1,3,...,-9,-9,2,1,1
9,1015,2,1,2,3,...,-9,-9,2,2,4
...,...,...,...,...,...,...,...,...,...,...,...
3078,13236,1,2,1,3,...,109,77,2,3,1
3079,13237,2,1,1,3,...,117,75,2,1,1
3080,13238,2,1,2,3,...,117,70,2,1,1
3081,13239,1,2,2,2,...,132,69,2,1,1
3082,13240,2,1,2,3,...,116,70,2,1,5
3083,13241,1,2,1,4,...,120,66,2,1,1
3084,13242,2,1,2,3,...,113,75,2,1,2
3085,13243,2,2,2,2,...,154,85,2,2,4
3086,13244,1,2,2,3,...,113,75,3,2,4
3087,13245,1,2,2,1,...,110,79,2,2,4

In [38]:
df.columns[3]

'Chemo'

In [39]:
df.columns

Index([u'ID', u'Lump/Mast', u'Radiation', u'Chemo', u'Tumor Type',
       u'Estr Recep', u'Prog Recep', u'Node Exam', u'Node Pos', u'Stage',
       u'Tumor Size', u'Height', u'Weight', u'BMI', u'Waist', u'Hip', u'Pulse',
       u'Bld Pres -Sys', u'Bld Pres - Dias', u'Menopause', u'Anti-Estr Use',
       u'Anti-Estro Type'],
      dtype='object')

In [40]:
df.columns[0]

'ID'

In [41]:
type(df)

pandas.core.frame.DataFrame

In [42]:
type(df.columns)

pandas.core.indexes.base.Index

In [43]:
df[['ID', 'Lump/Mast']]

         ID  Lump/Mast
0      1002          1
1      1003          1
2      1005          2
3      1007          2
4      1008          2
5      1009          2
6      1010          2
7      1011          1
8      1012          1
9      1015          2
...     ...        ...
3078  13236          1
3079  13237          2
3080  13238          2
3081  13239          1
3082  13240          2
3083  13241          1
3084  13242          2
3085  13243          2
3086  13244          1
3087  13245          1

[3088 rows x 2 columns]

In [44]:
df['Lump/Mast']

0       1
1       1
2       2
3       2
4       2
5       2
6       2
7       1
8       1
9       2
       ..
3078    1
3079    2
3080    2
3081    1
3082    2
3083    1
3084    2
3085    2
3086    1
3087    1
Name: Lump/Mast, Length: 3088, dtype: int64

In [45]:
df[:5]

,ID,Lump/Mast,Radiation,Chemo,Tumor Type,...,Bld Pres -Sys,Bld Pres - Dias,Menopause,Anti-Estr Use,Anti-Estro Type
0,1002,1,2,2,3,...,-9,-9,1,1,1
1,1003,1,2,2,3,...,-9,-9,2,1,1
2,1005,2,1,1,3,...,-9,-9,2,3,1
3,1007,2,1,2,4,...,-9,-9,2,1,1
4,1008,2,1,1,3,...,-9,-9,2,1,1

In [49]:
df[-5:]

,ID,Lump/Mast,Radiation,Chemo,Tumor Type,...,Bld Pres -Sys,Bld Pres - Dias,Menopause,Anti-Estr Use,Anti-Estro Type
3083,13241,1,2,1,4,...,120,66,2,1,1
3084,13242,2,1,2,3,...,113,75,2,1,2
3085,13243,2,2,2,2,...,154,85,2,2,4
3086,13244,1,2,2,3,...,113,75,3,2,4
3087,13245,1,2,2,1,...,110,79,2,2,4

In [53]:
df[[6,7,12]]

KeyError: '[ 6  7 12] not in index'

In [54]:
df.iloc[[6, 7, 12]]

,ID,Lump/Mast,Radiation,Chemo,Tumor Type,...,Bld Pres -Sys,Bld Pres - Dias,Menopause,Anti-Estr Use,Anti-Estro Type
6,1010,2,1,2,3,...,-9,-9,2,1,1
7,1011,1,2,2,1,...,-9,-9,3,2,4
12,1019,1,2,1,3,...,-9,-9,2,1,1

In [55]:
df.iloc[6,7,12]]

SyntaxError: invalid syntax (<ipython-input-55-314d5a309a20>, line 1)

In [56]:
df.iloc[[6,7,12]]

,ID,Lump/Mast,Radiation,Chemo,Tumor Type,...,Bld Pres -Sys,Bld Pres - Dias,Menopause,Anti-Estr Use,Anti-Estro Type
6,1010,2,1,2,3,...,-9,-9,2,1,1
7,1011,1,2,2,1,...,-9,-9,3,2,4
12,1019,1,2,1,3,...,-9,-9,2,1,1

In [57]:
df = df.set_index('ID')

In [58]:
df.index

Int64Index([ 1002,  1003,  1005,  1007,  1008,  1009,  1010,  1011,  1012,
             1015,
            ...
            13236, 13237, 13238, 13239, 13240, 13241, 13242, 13243, 13244,
            13245],
           dtype='int64', name=u'ID', length=3088)

In [59]:
df

,Lump/Mast,Radiation,Chemo,Tumor Type,Estr Recep,...,Bld Pres -Sys,Bld Pres - Dias,Menopause,Anti-Estr Use,Anti-Estro Type
ID,,,,,,,,,,,
1002,1,2,2,3,1,...,-9,-9,1,1,1
1003,1,2,2,3,1,...,-9,-9,2,1,1
1005,2,1,1,3,3,...,-9,-9,2,3,1
1007,2,1,2,4,0,...,-9,-9,2,1,1
1008,2,1,1,3,1,...,-9,-9,2,1,1
1009,2,1,1,3,1,...,-9,-9,3,1,1
1010,2,1,2,3,1,...,-9,-9,2,1,1
1011,1,2,2,1,0,...,-9,-9,3,2,4
1012,1,2,1,3,1,...,-9,-9,2,1,1
1015,2,1,2,3,1,...,-9,-9,2,2,4
...,...,...,...,...,...,...,...,...,...,...,...
13236,1,2,1,3,1,...,109,77,2,3,1
13237,2,1,1,3,1,...,117,75,2,1,1
13238,2,1,2,3,1,...,117,70,2,1,1
13239,1,2,2,2,1,...,132,69,2,1,1
13240,2,1,2,3,1,...,116,70,2,1,5
13241,1,2,1,4,1,...,120,66,2,1,1
13242,2,1,2,3,0,...,113,75,2,1,2
13243,2,2,2,2,0,...,154,85,2,2,4
13244,1,2,2,3,1,...,113,75,3,2,4
13245,1,2,2,1,0,...,110,79,2,2,4

In [60]:
df.iloc['1005']

TypeError: cannot do positional indexing on <class 'pandas.core.indexes.numeric.Int64Index'> with these indexers [1005] of <type 'str'>

In [61]:
df.iloc[['1005']]

,Lump/Mast,Radiation,Chemo,Tumor Type,Estr Recep,...,Bld Pres -Sys,Bld Pres - Dias,Menopause,Anti-Estr Use,Anti-Estro Type
ID,,,,,,,,,,,
5046,1,2,1,3,1,...,-9,-9,2,1,1

In [62]:
df.loc[['1005']]

KeyError: "None of [['1005']] are in the [index]"

In [63]:
df.loc[1005]

Lump/Mast                2
Radiation                1
Chemo                    1
Tumor Type               3
Estr Recep               3
Prog Recep               3
Node Exam               29
Node Pos                 0
Stage                   II
Tumor Size             2.5
                    ...
Weight               68.63
BMI                32.4181
Waist                   92
Hip                    110
Pulse                   -9
Bld Pres -Sys           -9
Bld Pres - Dias         -9
Menopause                2
Anti-Estr Use            3
Anti-Estro Type          1
Name: 1005, Length: 21, dtype: object

In [64]:
df.loc[1005]

Lump/Mast                2
Radiation                1
Chemo                    1
Tumor Type               3
Estr Recep               3
Prog Recep               3
Node Exam               29
Node Pos                 0
Stage                   II
Tumor Size             2.5
                    ...
Weight               68.63
BMI                32.4181
Waist                   92
Hip                    110
Pulse                   -9
Bld Pres -Sys           -9
Bld Pres - Dias         -9
Menopause                2
Anti-Estr Use            3
Anti-Estro Type          1
Name: 1005, Length: 21, dtype: object

In [65]:
df.loc[[1005]]

,Lump/Mast,Radiation,Chemo,Tumor Type,Estr Recep,...,Bld Pres -Sys,Bld Pres - Dias,Menopause,Anti-Estr Use,Anti-Estro Type
ID,,,,,,,,,,,
1005,2,1,1,3,3,...,-9,-9,2,3,1

In [67]:
df.iloc[[1005, 1006]]

,Lump/Mast,Radiation,Chemo,Tumor Type,Estr Recep,...,Bld Pres -Sys,Bld Pres - Dias,Menopause,Anti-Estr Use,Anti-Estro Type
ID,,,,,,,,,,,
5046,1,2,1,3,1,...,-9,-9,2,1,1
5047,2,1,2,2,0,...,-9,-9,2,2,4

In [68]:
df.loc[1005].chem

AttributeError: 'Series' object has no attribute 'chem'

In [69]:
df.loc[1005]chemo

SyntaxError: invalid syntax (<ipython-input-69-d869dfa60e1d>, line 1)

In [72]:
df.loc[ 1005 ].chemo

AttributeError: 'Series' object has no attribute 'chemo'

In [73]:
df.loc[1005]

Lump/Mast                2
Radiation                1
Chemo                    1
Tumor Type               3
Estr Recep               3
Prog Recep               3
Node Exam               29
Node Pos                 0
Stage                   II
Tumor Size             2.5
                    ...
Weight               68.63
BMI                32.4181
Waist                   92
Hip                    110
Pulse                   -9
Bld Pres -Sys           -9
Bld Pres - Dias         -9
Menopause                2
Anti-Estr Use            3
Anti-Estro Type          1
Name: 1005, Length: 21, dtype: object

In [74]:
df.loc[1005].Chemo

1

In [87]:
df.['BMI']

SyntaxError: invalid syntax (<ipython-input-87-e98ab6863923>, line 1)

In [81]:
df [ (df.BMI >= 40)]

AttributeError: 'list' object has no attribute 'BMI'

In [88]:
df.columns

AttributeError: 'list' object has no attribute 'columns'